{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}"
  </head>
  <body>
    <p class="message"></p>
    <div class="todos_wrapper">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
